body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "PT Serif", serif;
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
}

p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(16, min-content);
    column-gap: 10px;
    row-gap: 60px;
}

figure {
    width: 100%;
    height: 100%;
    padding: 0;
}

img {
    margin: 0;
    width: 100%;
    border-radius: 5px;
}

section:first-child {
    grid-row: 1 / 5;
}

section:nth-child(2) {
    grid-row: 2 / 6;
}

section:nth-child(3) {
    grid-row: 5 / 10;
}

section:nth-child(4) {
    grid-row: 6 / 11;
}

section:nth-child(5) {
    grid-row: 10 / 15;
}

section:nth-child(6) {
    grid-row: 11 / 16;
}

section {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr min-content;
}

h4 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 10px;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 10px;
}

h3 {
    font-family: "Poppins";
    font-size: 14px;
}

footer {
    margin: auto;

    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #a9a9a9;
    padding: 20px;
}

footer span {
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    header {
        min-width: 1040px;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        margin: auto;
        margin-top: 40px;
        column-gap: 150px;
    }

    h1 {
        grid-row: 1 / 3;
    }

    p {
        width: 300px;
        padding-bottom: 0;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: auto;
    }

    section {
        margin: 30px;
    }

    section:first-child {
        grid-row: 1 / 5;
        grid-column: 1 / 2;
    }

    section:nth-child(2) {
        grid-row: 2 / 6;
        grid-column: 2 / 3;
    }

    section:nth-child(3) {
        grid-row: 1 / 5;
        grid-column: 3 / 4;
    }

    section:nth-child(4) {
        grid-row: 5 / 10;
        grid-column: 1 / 2;
    }

    section:nth-child(5) {
        grid-row: 6 / 11;
        grid-column: 2 / 3;
    }

    section:nth-child(6) {
        grid-row: 5 / 10;
        grid-column: 3 / 4;
    }
}
